.main-div{
    text-align:center;
    margin-top:23px;
}

h1{
    font-size:3rem;
    margin:auto;
    color:#ffe9e3;
}

body{
    background-color: #7c73e6;
}

table{
    margin:auto;
}

input{
    font-size:34px;
    border: 3px solid black;
    border-radius: 10px;
    margin:10px;
    padding:5px;
}

button{
    font-size:30px;
    background-color: #c4c1e0;
    width: 102px;
    height: 55px;
    border-radius: 10px;
    margin:5px;
    
}

.inner-div{
    border: 5px solid;
    display:inline-block;
    background-color: #f3cba5;
    margin:4%;
    border-radius: 30px;
    padding:20px;
}