*{
    font-family: 'Josefin Sans', sans-serif;
}

img{
    display:block;
    margin: auto;
    padding: 40px 20px;
    border-radius: 10%;
}

body{
    background-color: #9bf4d5
}
.main-div{
    background-color: #fff;
    width:50vw;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 5px 5px rgba(80, 77, 77, 0.5);
}

button{
    background-color: #1dad9b;
    color:aliceblue;
    border: none;
    width: 100%;
    padding: 2% 2%;
    font-size:1.3rem;
    cursor:pointer;
}

button:hover{
    background-color: #346357;
}